ul[list-style-type="circle"] {
	list-style-type: circle;
}

ul[list-style-type="square"] {
	list-style: square;
}


ol[list-style-type="upper-roman"] {
	list-style-type: upper-roman;
}

ol[list-style-type="lower-alpha"] {
	list-style: lower-alpha;
}
