.button {
	display: flex;
	position: relative;
	flex-flow: row nowrap;
}

.icon {
	display: inline-block;
}

.dialog {
	position: absolute;
	top: 100%;
	left: calc(100% - 40px);
	background-color: #3f3f3f;
}

.dialog button {
	width: 100%;
	text-align: left;
}
