.button {
	display: flex;
	position: relative;
	flex-flow: row nowrap;
}

.icon {
	display: inline-block;
}

.dialog {
	position: absolute;
	background-color: orange;
	top: 100%;
	left: calc(100% - 40px);
}

.list-style-icon {

}
